{{#each products}}
    <div id="{{this.id}}">
        <h2>Title: {{this.title}}</h2>
        <h5>Id: {{this.id}}</h5>
        <h5>Description: {{this.description}}</h5>
        <h5>Price: {{this.price}}</h5>
        <h5>Code: {{this.code}}</h5>
        <h5>Stock: {{this.stock}}</h5>
        <h5>Status: {{this.status}}</h5>
        <h5>Category: {{this.category}}</h5>
        <h5>Thumbnail: {{this.thumbnail}}</h5>
    </div>
{{/each}}